#main-container{
    background-color: rgb(237, 230, 225);
    display: flex;
    flex-direction: column;
}

#main-head{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

#cards{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}