<div id="main-container">
  <div id="main-head">
    <h1>Available Features</h1>
  </div>
  <div id="cards">
    <app-card
      title="History"
      description="Fetch all History"
      actionText="Show"
      routeTarget="/features/history"
    ></app-card>
    <app-card
      title="Premium List"
      description="Access all premiumlisting related services."
      actionText="Proceed"
      routeTarget="/features/premiumlist"
    ></app-card>
  </div>
  <div class="res-area">
    <hr style="width: 50%; margin: auto; margin-bottom: 3%;" />
    <router-outlet></router-outlet>
  </div>
</div>
