.main-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.left-container {
  background-color: rgb(33, 37, 41);
  width: 20%;
  display: flex;
  flex-direction: column;
}

.img-container {
  margin: auto;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.img-container img{
  margin-bottom: 15px;
}

.img-container p{
  font-size: larger;
}

.main-head {
  padding-bottom: 10px;
  font-style: bold;
  font-size: 3em;
}

.right-container{
  width: 80%;
  display: flex;
  flex-direction: column;
}

#primary-container {
  align-items: center;
  text-align: center;
  margin: auto;
  width: 50%;
}

#secondary-container {
  background-color: rgb(32, 31, 31);
  color: white;
  padding: 5%;
  border-radius: 20px;
  text-align: left;
}

#submitDiv {
  display: flex;
  height: 15%;
}

#submitBtn {
  display: flex;
}

#submitSwitch {
  margin-left: 10%;
}
