.navbar {
  /* border-bottom: 2px solid rgb(1, 159, 250); */
  border-bottom: 2px solid rgb(250, 1, 1);
  width: 100vw;
}
.nav-link {
  font-size: large;
  color: #ffffff;
}
.nav-link:hover,
.nav-link:focus {
  opacity: 0.75;
  text-decoration: underline;
}

.btn {
  background-color: #ffffff;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  margin-right: 2%;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.main-logo {
  margin-left: 10px;
}

#website-logo {
  margin-left: 2%;
  font-family: "philosopher";
  /* font-size: 31px; */
  font-size: 1.2em;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin-right: 2%;
}

#authBtn {
  text-decoration: none;
  /* background-color: rgb(0, 162, 255); */
  /* background-color: rgb(255, 255, 255); */
  color: rgb(255, 255, 255);
  margin-right: 50px;
  width: fit-content;
  /* border: 3px solid black;
  border-radius: 15px; */
  padding: 3px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#authBtn span {
  font-size: 1.2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

