@import "primeicons/primeicons.css";

.main-container{
  height: max-content;
}

.main-head h1 {
  width: fit-content;
  margin: auto;
  justify-content: center;
  margin-top: 3%;
}

.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 4%;
  background-color: inherit;
  height: max-content;
}

.detail-comp {
  background-color: rgb(27, 27, 27);
  color: white;
  border: 2px solid rgb(177, 177, 177);
  width: 90vw;
}
