.gradient-custom {
  /* background: linear-gradient(
    to right bottom,
    rgb(80, 80, 80),
    rgb(213, 213, 213)
  ); */
  background-color: rgb(33, 37, 41);
}

.name-container {
  margin: auto;
}

.upgrade-btn {
  background: linear-gradient(to right bottom, rgb(80, 80, 80), rgb(0, 0, 0));
  color: rgb(255, 255, 255);
  border-color: rgb(233, 57, 57);
  border-radius: 10px;
}
