<section style="min-height: 90.65vh;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="col-md-4 gradient-custom text-center text-white"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <img
                src="../../assets/profile-view/profile-view-icon.png"
                alt="Avatar"
                class="img-fluid my-3"
                style="width: 120px"
              />
              <h5>{{ user.username | uppercase}}</h5>
              <p>
                {{
                  user.role === "premiumuser"
                    ? "Premium User"
                    : user.role === "admin"
                    ? "Admin"
                    : "Non Premium User"
                }}
              </p>
              <i class="far fa-edit mb-5"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Username</h6>
                    <p class="text-muted">{{ user.username }}</p>
                  </div>

                  <div class="col-6 mb-3">
                    <h6>Created At</h6>
                    <p class="text-muted">{{ user.created_at }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Search Count</h6>
                    <small>*reset everyday*</small>
                    <p class="text-muted">{{ user.search_count }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Ban Status</h6>
                    <p class="text-muted">{{ user.ban_status }}</p>
                  </div>
                </div>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1" *ngIf="user.role != 'admin'">
                  <div class="col-6 mb-3">
                    <h6>
                      {{
                        user.role === "premiumuser"
                          ? "Cancel Premium"
                          : "Get Premium"
                      }}
                    </h6>
                    <button class="upgrade-btn" (click)="updateRole()">
                      {{
                        user.role === "premiumuser" ? "Downgrade" : "Upgrade"
                      }}
                    </button>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Message Admin</h6>
                    <button class="upgrade-btn" (click)="addMessage()">
                      Send Message
                    </button>
                    <p-overlay [(visible)]="overlayVisible" styleClass="overlay-btn">
                      <form #inpForm="ngForm" (ngSubmit)="sendMessage(inpForm)">
                        <div class="form-group">
                          <label class="overlay-fields" style="font-size: large" for="inp_url"
                            >Enter Message:
                          </label>
                          <input
                          class="overlay-fields form-control"
                            id="inp_message"
                            ngModel
                            name="inp_message"
                            placeholder="Enter Message for admin"
                            />
                            <button
                            class="overlay-fields"
                            [disabled]="!inpForm.valid"
                            type="submit"
                            (click)="(addPremiumlist)"
                            >
                            Submit
                          </button>
                        </div>
                      </form>
                    </p-overlay>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
