/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "primeicons/primeicons.css";

html, body {
  font-family: "philosopher", Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(#000000 , #2D3436);
  color: rgb(255, 255, 255);
}
